@model dynamic

<ul class="promotion-list">
    <li>
        <img src="@Url.Content("~/Content/images/promotion-list.jpg")" />
        <p class="title">new account offer - place 6 bets and receive a freebet up to £50</p>
        <p class="align-center"><a href="@Url.Action("Promo")" class="btn grey">read more</a></p>
    </li>
    <li>
        <img src="@Url.Content("~/Content/images/promotion-list.jpg")" />
        <p class="title">new account offer - place 6 bets and receive a freebet up to £50</p>
        <p class="align-center"><a href="@Url.Action("Promo")" class="btn grey">read more</a></p>
    </li>
    <li>
        <img src="@Url.Content("~/Content/images/promotion-list.jpg")" />
        <p class="title">new account offer - place 6 bets and receive a freebet up to £50</p>
        <p class="align-center"><a href="@Url.Action("Promo")" class="btn grey">read more</a></p>
    </li>
    <li>
        <img src="@Url.Content("~/Content/images/promotion-list.jpg")" />
        <p class="title">new account offer - place 6 bets and receive a freebet up to £50</p>
        <p class="align-center"><a href="@Url.Action("Promo")" class="btn grey">read more</a></p>
    </li>
</ul>
