@using AFT.RegoV2.MemberWebsite.Common

@{
    ViewBag.Title = "VIP levels to rego";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string section = "details";
}

<div class="site-body home main-content" id="vip-levels">

    <div class="container">
        
        <h2 class="title-page"><span data-i18n="viplevels.vipLevels"></span></h2>

        <div class="clearfix pull-left column">
            
            <div><p>&nbsp;</p></div>
            <div><p data-i18n="viplevels.bonusAndUpgrade"></p></div>
            <div><p data-i18n="viplevels.bettingRequirement"></p></div>
            <div><p data-i18n="viplevels.vipWelcomeGift"></p></div>
            <div><p data-i18n="viplevels.exclusiveBonuses"></p></div>
            <div><p data-i18n="viplevels.personalAccountManager"></p></div>
            <div><p data-i18n="viplevels.higherWithdrawalAmount"></p></div>
            <div><p data-i18n="viplevels.higherDepositAmount"></p></div>
            <div><p data-i18n="viplevels.depositRebates"></p></div>
            <div><p>&nbsp;</p></div>

        </div>

        <div class="clearfix pull-left column topas">
            
            <div><p><img src="@Url.Content("~/Content/images/icon-topas.png")"/></p></div>
            <div><p>Topas<br> VIP I</p></div>
            <div><p><b>1st Bet</b></p></div>
            <div><p><img src="@Url.Content("~/Content/images/icon-none.png")"/></p></div>
            <div><p>$50</p></div>
            <div><p><img src="@Url.Content("~/Content/images/icon-none.png")"/></p></div>
            <div><p>$50</p></div>
            <div><p>$50</p></div>
            <div><p>$50</p></div>
            <div><p><a href="#">Terms</a></p></div>

        </div>

        <div class="clearfix pull-left column pearl">
            
            <div><p><img src="@Url.Content("~/Content/images/icon-pearl.png")"/></p></div>
            <div><p>Pearl<br> VIP II</p></div>
            <div><p><b>10,000</b></p></div>
            <div><p><img src="@Url.Content("~/Content/images/icon-gift.png")"/></p></div>
            <div><p>$100</p></div>
            <div><p><img src="@Url.Content("~/Content/images/icon-check.png")"/></p></div>
            <div><p>$100</p></div>
            <div><p>$100</p></div>
            <div><p>$100</p></div>
            <div><p><a href="#">Terms</a></p></div>

        </div>

        <div class="clearfix pull-left column sapphire">
            
            <div><p><img src="@Url.Content("~/Content/images/icon-sapphire.png")"/></p></div>
            <div><p>Sapphire<br> VIP III</p></div>
            <div><p><b>10,000</b></p></div>
            <div><p><img src="@Url.Content("~/Content/images/icon-gift.png")"/></p></div>
            <div><p>$500</p></div>
            <div><p><img src="@Url.Content("~/Content/images/icon-check.png")"/></p></div>
            <div><p>$500</p></div>
            <div><p>$500</p></div>
            <div><p>$500</p></div>
            <div><p><a href="#">Terms</a></p></div>

        </div>

        <div class="clearfix pull-left column emerald">
            
            <div><p><img src="@Url.Content("~/Content/images/icon-emerald.png")"/></p></div>
            <div><p>Emerald<br> VIP IV</p></div>
            <div><p>invitation only</p></div>
            <div><p><img src="@Url.Content("~/Content/images/icon-gift.png")"/></p></div>
            <div><p>$1,000</p></div>
            <div><p><img src="@Url.Content("~/Content/images/icon-check.png")"/></p></div>
            <div><p>$1,000</p></div>
            <div><p>$1,000</p></div>
            <div><p>$1,000</p></div>
            <div><p><a href="#">Terms</a></p></div>

        </div>

        <div class="clearfix pull-left column diamond">
            
            <div><p><img src="@Url.Content("~/Content/images/icon-diamond.png")"/></p></div>
            <div><p>Diamond<br> VIP V</p></div>
            <div><p>invitation only</p></div>
            <div><p><img src="@Url.Content("~/Content/images/icon-gift.png")"/></p></div>
            <div><p>$1,500</p></div>
            <div><p><img src="@Url.Content("~/Content/images/icon-check.png")"/></p></div>
            <div><p>$1,500</p></div>
            <div><p>$1,500</p></div>
            <div><p>$1,500</p></div>
            <div><p><a href="#">Terms</a></p></div>

        </div>

    </div> 
</div>

